<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
</head>
<body>
<script src="{{ url_for('static', filename='../static/utils.js') }}"></script>
<h1 id="title">{{ title }}</h1>

    <div class="search-bar">
        <form onsubmit="redirect()">
          <input type="text" id="search" name="search" placeholder="{{entry}}">
          <button type="submit">Search</button>
        </form>
     </div>
</body>

</html>
