<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary {{ title}} : {{ entry }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tacit-css-1.5.5.min.css') }}">
</head>

<body>
    <nav>
        <a href="/dict/" height="70">XDict</a>
        <ul>
        {% for choice in dicts %}
            <li class="">
                <a href="{{ choice.url }}">{{ choice.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </nav>

    <p> Checking word <code> {{ entry }}</code>.</p>

    <form height="80" onsubmit="redirect()">
      <input type="text" id="search" name="search" placeholder="{{entry}}">
      <button type="submit">Look</button>
    </form>

    <div class="content-wrapper">
        {{content|safe}}
    </div>

    <script>
        function redirect() {
            event.preventDefault();
            const searchTerm = document.getElementById("search").value;
            const baseUrl = window.location.origin;
            const path = window.location.pathname;
            var dictName = path.split('/')[2];
            window.location.href = `${baseUrl}/dict/${dictName}/${searchTerm}`;
        }

        //play sound
        player = document.createElement("audio")
        player.id = 'player'

        function play(url) {
            console.log(url)
            //var url = sound.href.replace("sound://", "")
            //var audio = document.createElement("audio")
            //player.pause()
            player.src = url
            player.play()
        }

        function makefunction(url)
        {
            return function (e) {
                play(url)
				e.preventDefault()
            }
        }
        var all_a = document.getElementsByTagName('a')
        for (i in all_a) {
            var item = all_a[i]
            if (item.href && item.href.lastIndexOf("sound://", 0) === 0) {
                var url = item.href.replace("sound://", "")
                var func = makefunction(url)
                item.addEventListener("click",
                    func
                )
            }

            if (item.href && item.href.lastIndexOf("entry://", 0) === 0) {
                item.href = item.href.replace("entry://", "")
            }
        }
    </script>
</body>

</html>